
.block {
    position: absolute;
    left: 150px;
    right: 150px;
    top: 50px;
    bottom: 50px;

    background: #FFFFFF;
    /* Components / Border color */

    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 4px;
}

